/venv/
/django/coolsite/women/
django/coolsite/coolsite/__pycache__/*
django/coolsite/tasks/__pycache__/*
/temp/
/tests/venv/
/tests/.env
/tests/geckodriver.log
/django/mysite/tasks/service/pc.csv
.idea
django/mysite/app.log
django/mysite/coolsite/__pycache__
django/mysite/tasks/__pycache__
django/mysite/tasks/migrations
django/mysite/tasks/service/__pycache__
nginx/ssl/*.pem
doc/*.odt
.env
