TAG="1.0"
APP_TAG="<1.4>"

# Postgres
POSTGRES_DB="tasks"
POSTGRES_USER="app"
POSTGRES_PASSWORD="password"
POSTGRES_HOST = "task_db"
POSTGRES_PORT = 5432


#Django
DJANGO_SECRET_KEY = "django-insecure"
DJANGO_DEBUG = True
ALLOWED_HOSTS = "task.info66.ru"
CSRF_TRUSTED_ORIGINS = "https://task.info66.ru:4443"
URL = "https://task.info66.ru:4443"
TASKS_ON_PAGE_COUNT = 10
PC_ON_PAGE_COUNT = 20
LOGIN_RARELIMIT = "3/m"
NEW_TASK_RARELIMIT = "10/h"
REDIS_CACHE_HOST = "celery-redis"
REDIS_CACHE_PORT = 6379
REDIS_CACHE_DB_DEFAULT = 3
REDIS_CACHE_DB_RARELIMIT = 4

#Redis
CELERY_REDIS_HOST="celery-redis"
CELERY_REDIS_PORT=6379
CELERY_REDIS_PASSWORD="sDf8ad60d"
CELERY_REDIS_DB=1

#Celery worker
TELEGRAMM_TOKEN = "telegram token"
ICQ_TOKEN="icq_token"
