{% extends 'tasks/base.html' %}
 
{% block content %}
<h1>{{title}}</h1>
<form action="{{task_link}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
<p>Задача создана: {{creator}} {{created}}</p>
<p>Задача изменена: {{updated}}</p>
    <button type="submit">Сохранить</button>
</form>

{% endblock %}