{% extends 'tasks/base.html' %}
 
{% block content %}
{# .... **Normal content list, maybe a table** .... #}
{% if task_list %}
    <table id="tasks">
        {% for t in task_list %}
            <tr class="firstLine">
                <td colspan="100%"> <h4>{{t.title}}</h4>

                    <p>Создан {{t.creator}}</p>
                    <p>Создан для {{t.executor}}</p>
                    <p>Статус задачи -  {{t.status}}</p>
                 </td>
                 <td style="width:200px"></td>
                 <td><div class="clear"></div>
			<p class="link-read-post"><a href="/task/{{t.id}}">Детали задачи</a></p></td>

            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/tasks/{{category}}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/tasks/{{category}}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <h3>Список задач</h3>
    <p>Задачи не найдены!!! :(</p>
{% endif %}
{# .... **More content, footer, etc.** .... #}

{% endblock %}
